{% extends 'layout.html' %}


{% block body %}

<div class="box centered">
    <div class="card">
        <h1>Plan {{ project.description }}</h1>

        <div class="card-content plans">
            <div class="command">
                <div class="actuator">
                    <form id="form-search" action='/plan/search' method="GET">
                        <input type="text" name="phrase" form="form-search"
                            value="{{ phrase }}" />
                        <button class="normal" id="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                    
                    <form id="form-add" action='/plan/add/{{project.id}}' method="GET">
                        <button class="safe" id="add" form="form-add">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </form>

                </div>
            </div>
            
            {% if error %}
            <div class="warning">
                <div><i class="fa-solid fa-warning fa-2xl"></i></div>
                <div>{{ error }}</div>
                <div>
                    <form id="form-retry" action='/project' method="GET">
                        <button class="normal" id="retry" form="form-retry">
                            Volver
                        </button>
                    </form>
                </div>
            </div>
            {% elif not plans  %}
                <div class="warning">
                    <div><i class="fa-solid fa-warning fa-2xl"></i></div>
                    <div>No hay Planes</div>
                    <div>
                        <form id="form-retry" action='/project' method="GET">
                            <button class="normal" id="retry" form="form-retry">
                                Volver
                            </button>
                        </form>
                    </div>
                </div>
            {% else %}
            <div class="fields">
                <div>Id</div>
                <div><a href="/action/{{project.id}}">Acción</a></div>
                <div><a href="/activity/{{project.id}}">Actividad</a></div>
                <div>Fecha Inicio</div>
                <div>Fecha Cierre</div>
                <div>Horas</div>
                <div>Responsable</div>
                <div>Monto</div>
            </div>
            {% for plan in plans %}
            <form id="form-edit-{{ plan.id }}" action='/plan/update' method="POST">
                <div class="values">
                    
                    <div>
                        <input type="text" name="id"
                            value="{{ plan.id }}" 
                            form="form-edit-{{ plan.id }}" readonly/>
                    </div>

                    <select name="action" 
                        id="action" form="form-edit-{{ plan.id }}">
                        <option value="0">Sin Acción</option>
                    {% for action in actions %}
                        {% if action == plan.action[0] %}
                            <option value="{{action.id}}" selected>{{action}}</option>
                        {% else %}
                            <option value="{{action.id}}">{{action}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <select name="activity" 
                        id="activity" form="form-edit-{{ plan.id }}">
                        <option value="0">Sin Actividad</option>
                    {% for activity in activities %}
                        <option value="{{activity.id}}">{{activity}}</option>
                    {% endfor %}
                    </select>

                    <div>
                        <input type="date" name="start_date" 
                            value="{{ plan.start_date }}"
                            form="form-edit-{{ plan.id }}" />
                    </div>

                    <div>
                        <input type="date" name="end_date" 
                            value="{{ plan.end_date }}"
                            form="form-edit-{{ plan.id }}" />
                    </div>

                    <div>
                        <input type="number" 
                            step="1" min="1" max="744"
                            name="hours" 
                            value="{{ plan.hours }}"
                            form="form-edit-{{ plan.id }}" />
                    </div>

                    <select name="responsible" 
                        id="responsible" form="form-edit-{{ plan.id }}">
                        <option value="0">Sin responsable</option>
                    {% for responsible in users %}
                        {% if responsible == plan.responsible %}
                            <option value="{{responsible.id}}" selected>{{responsible}}</option>
                        {% else %}
                            <option value="{{responsible.id}}">{{responsible}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <div>
                        <input type="number" 
                            step="0.01" min="0.00" max="1000000.00"
                            name="amount" 
                            value="{{ plan.amount }}"
                            form="form-edit-{{ plan.id }}" />
                    </div>

                    <div class="callbacks">
                        <a href="/plan/human/{{ plan.id }}">
                            <button class="safe" id="info" form="form-info-{{ plan.id }}">
                                <i class="fa-solid fa-user-circle"></i>
                            </button>
                        </a>
                        <a href="/plan/material/{{ plan.id }}">
                            <button class="safe" id="info" form="form-info-{{ plan.id }}">
                                <i class="fa-solid fa-cube"></i>
                            </button>
                        </a>
                        <button id="edit" class="warn" form="form-edit-{{ plan.id }}">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
    
                        <button id="delete" class="danger" form="form-delete-{{ plan.id }}">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
            
            </form>
            <form class="hidden" id="form-delete-{{ plan.id }}" 
				action='/plan/delete' method="POST">
                <input type="text" name="id" value="{{ plan.id }}"/>
            </form>

            {% else %}
            <div class="warning">
                <div><i class="fa-solid fa-warning fa-2xl"></i></div>
                <div>No hay Planes</div>
                <div>
                    <form id="form-retry" action='/project' method="GET">
                        <button class="normal" id="retry" form="form-retry">
                            Volver
                        </button>
                    </form>
                </div>
            </div>
            
            {% endfor %}

            <hr />
            Monto Total {{amount}}

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}