{% extends 'layout.html' %}

{% block body %}

<div class="box centered">
    <div class="card">
        <h1>Logger de Eventos</h1>

        <div class="card-content logs">
            <div class="command">
                <div class="actuator">
                    <form id="form-search" action='/log/search' method="GET">
                        <input type="text" name="phrase" form="form-search" value="{{ phrase }}"/>
                        <button id="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
            
            {% if error %}
            <div class="warning">
                <div><i class="fa-solid fa-warning fa-2xl"></i></div>
                <div>{{ error }}</div>
                <div>
                    <form id="form-retry" action='/log' method="GET">
                        <button id="retry" form="form-retry">
                            Volver
                        </button>
                    </form>
                </div>
            </div>
            {% elif not logs  %}
                <div class="warning">
                    <div><i class="fa-solid fa-warning fa-2xl"></i></div>
                    <div>No hay eventos</div>
                    <div>
                        <form id="form-retry" action='/log' method="GET">
                            <button id="retry" form="form-retry">
                                Volver
                            </button>
                        </form>
                    </div>
                </div>
            {% else %}
            <div class="fields">
                <div>Id</div>
                <div>Evento</div>
				<div>Modulo</div>
                <div>Fecha</div> 
                <div>Hora</div>
            </div>
            {% for log in logs %}
            <form id="form-edit-{{ log.id }}" action='/log/update' method="POST">
                <div class="values">
                    
                    <div><input type="text" name="id"
                        value="{{ log.id }}" 
                        form="form-edit-{{ log.id }}" readonly/>
                    </div>

                    <div><input type="text" name="description"
                        value="{{ log.type }}" 
                        form="form-edit-{{ log.id }}" readonly />
                    </div>

                    <div><input type="text" name="module" 
                        value="{{ log.module }}"
                        form="form-edit-{{ log.id }}" readonly/>
                    </div>

                    <div><input type="date" name="date" 
                        value="{{ log.date }}"
                        form="form-edit-{{ log.id }}" readonly/>
                    </div>

					<div><input type="time" name="time" 
                        value="{{ log.time }}"
                        form="form-edit-{{ log.id }}" readonly/>
                    </div>

                    <div class="callbacks">
                        <button id="info" form="form-info-{{ log.id }}">
                            <i class="fa-solid fa-circle-info"></i>
                        </button>
    
                        <button id="delete" form="form-delete-{{ log.id }}">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
            
            </form>
            <form class="hidden" id="form-delete-{{ log.id }}" 
				action='/log/delete' method="POST">
                <input type="text" name="id" value="{{ log.id }}"/>
            </form>
			<form class="hidden" id="form-info-{{ log.id }}" 
				action='/log/detail/{{ log.id }}' method="GET">
            </form>
            
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}