{% extends 'layout.html' %}

{% block body %}

<div class="box centered">
    <div class="card">
        <h1>Evento  #{{ log.id }}</h1>
            <div class="card-content centered log">
                <div>
                    <div class="desc">
                        <pre>
                            <h3>Modulo: {{ log.type }}</h3>
                            {{ log.description }}
                            <br/ >
                            <br/ >
                            <span>
                                Generado el <b>{{ log.date }}</b> a las <b>{{ log.time }}</b> 
                                horas por <b>{{ log.user.username }}</b>.
                            </span>
                        </pre>
                    </div>

                    {% if error %}
                        <h4>{{error}}</h4>
                    {% endif %}

                    <div class="actions centered">
                        <a href="/log"><button class="normal">Volver</button></a>
                        <button class="danger" 
                            id="delete" form="form-delete-{{ log.id }}">
                            Eliminar
                        </button>
    
                        <form class="hidden" id="form-delete-{{ log.id }}" 
                            action='/log/delete' method="POST">
                            <input class="hidden" type="text" name="id" value="{{ log.id }}"/>
                        </form>
                    </div>

					<form class="hidden" id="form-delete-{{ log.id }}" 
						action='/log/delete' method="POST">
						<input form="form-delete-{{ log.id }}" type="text" name="id" value="{{ log.id }}" hidden/>
					</form>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        let data = document.getElementById("logdesc")
        let format = JSON.stringify(data.innerHTML, null, 4)
        data.innerHTML = format
    </script>
{% endblock scripts %}