{% extends 'layout.html' %} 


{% block body %}

<div class="box centered">
    <div class="card">
        <h1>Agregar un nuevo departamento</h1>
        <form id="department_add" action="" method = "POST">
            <div class="card-content centered base">
                <div>
                    {% if not error %}
						<p>Nombre <br/><textarea name="name" rows="4" cols="32" required></textarea></p>
					{% else %}
						<p>Nombre <br/><textarea name="name" rows="4" cols="32" required>{{ name }}</textarea></p>
					{% endif %}

                    {% if error %}
                        <h4>{{error}}</h4>
                    {% endif %}

                    <div class="actions centered">
                        <button class="safe" type="submit" id="submit">Enviar</button>
                        <button class="normal" type="reset">Limpiar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}