<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/a0a3ae7609.js" crossorigin="anonymous"></script>
    <title>Flask App</title>

    {% assets "scss_all" %}
      <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

  </head>
  <body>
    <div class="layout">
      <section class="sidebar">
        <nav id="navbar">
          <a class="link" href="/" id="home-link"><h3>Inicio</h3></a>
          {% if loggedIn %}
            <a class="link" href="/user/logout" id="logout-link">Cerrar sesión</a>
          {% else %}
            <a class="link" href="/user/login" id="login-link">Iniciar sesión</a>
          {% endif %}
        </nav>

        {% if loggedIn %}
          <ul>
            {% if user.admin %}
              <a href="/user" id="user-link"><li>Usuarios</li></a>
              <a href="/user/register" id="userRegister-link"><li>Registro de usuario</li></a>
              <a href="/user/reset" id="userReset-link"><li>Reinicio de contraseña</li></a>
              {% endif %}
              <a href="/project" id="project-link"><li>Proyectos</li></a>
              <a href="/client" id="client-link"><li>Clientes</li></a>
              <a href="/vehicle" id="vehicle-link"><li>Vehiculos</li></a>
              <a href="/log" id="log-link"><li>Eventos</li></a>
            </ul>
        {% endif %}

      </section>
      <section class="main">
        <div class="content">
          {% block body %}
        </div>
      </section>
    </div>
	{% endblock %}

  {% block scripts %} {% endblock scripts %}

  </body>
</html>
