.layout {
	display: grid;
	grid-template-columns: 1fr 4fr;
  width: 100vw;
	height:100vh;

  .sidebar {
    background-color: whitesmoke;
    border-right: solid 2px gray;

    #navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid gray;

      .link {
        margin-left: 0;
        padding: 10px;
      }
      
      p, b, h1 {
        margin-left: 10px;
      }
    }

    ul {
      list-style: none;
      font-size: 1.3rem;
      padding: 0;
      margin: 0;

      a {
        text-decoration: none;
      }

      li {
        border-bottom: solid 1px gray;
        transition: all 0.25s;
        padding: 15px;

        &:hover {
          font-size: 1.5rem;
          border-bottom: solid 3px black;
        }
      }

      h3 {
        margin-left: 30px;
      }
    }
  }

  .main {
    height: 100%;
    width: 100%;

    .content {
      height: 100%;
      width: 100%;

      .box {
        padding: 5%;
      }
    }

    .centered {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}