{% extends 'layout.html' %} 


{% block body %}

<div class="box centered">
    <div class="card">
        <h1>Agregar un nuevo vehiculo</h1>
        <form id="vehicle_add" action="" method = "POST">
            <div class="card-content centered base">
				<div>
                    {% if not error %}
						<p>Descripción <br/><textarea name="description" rows="4" cols="32" required></textarea></p>
						<p>Fecha Inicio <br/><input type = "date" name ="open_date" value="{{ today }}" required/></p>
						<p>Fecha Cierre <br/><input type = "date" name ="close_date" value="{{ today }}" required/></p>
						<p class="check"><input type="checkbox" name="enabled" id="enabledCheckbox" checked><label for="enabledCheckbox">Habilitado?</label></p>    
					{% else %}
						<p>Descripción <br/><textarea name="description" rows="4" cols="32" required>{{ description }}</textarea></p>
						<p>Fecha Inicio <br/><input type = "date" name ="open_date" value="{{ open_date }}" required/></p>
						<p>Fecha Cierre <br/><input type = "date" name ="close_date" value="{{ close_date }}" required/></p>
						<p class="check">
							{% if enabled %}
								<input type="checkbox" name="enabled" id="enabledCheckbox" checked>
							{% else %}
								<input type="checkbox" name="enabled" id="enabledCheckbox">
							{% endif %}
							<label for="enabledCheckbox">Habilitado?</label>
						</p>
					{% endif %}

                    {% if error %}
                        <h4>{{error}}</h4>
                    {% endif %}

                    <div class="actions centered">
                        <button class="safe" type="submit">Enviar</button>
                        <button class="normal" type="reset">Limpiar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}