{% extends 'layout.html' %}


{% block body %}

<div class="box centered">
    <div class="card">
        <h1>Proyectos</h1>

        <div class="card-content {% if user.role == 'admin' %} projects-admin {% else %} projects-manager {% endif %}">
            <div class="command">
                <div class="actuator">
                    <form id="form-search" action='/project/search' method="GET">
                        <input type="text" name="phrase" form="form-search"
                            value="{{ phrase }}" />
                        <button class="normal" id="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
            
                    <form id="form-add" action='/project/add' method="GET">
                        <button class="safe" id="add" form="form-add">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </form>
                </div>
            </div>
            
            {% if error %}
            <div class="warning">
                <div><i class="fa-solid fa-warning fa-2xl"></i></div>
                <div>{{ error }}</div>
                <div>
                    <form id="form-retry" action='/project' method="GET">
                        <button class="normal" id="retry" form="form-retry">
                            Volver
                        </button>
                    </form>
                </div>
            </div>
            {% elif not projects  %}
                <div class="warning">
                    <div><i class="fa-solid fa-warning fa-2xl"></i></div>
                    <div>No hay proyectos</div>
                    <div>
                        <form id="form-retry" action='/project' method="GET">
                            <button class="normal" id="retry" form="form-retry">
                                Volver
                            </button>
                        </form>
                    </div>
                </div>
            {% else %}

                {% if user.role == "admin" %}
                    <div class="fields">
                        <div>Id</div>
                        <div>Descripción</div>
                        <div>Inicio</div> 
                        <div>Cierre</div>
                    </div>
                {% else %}
                    <div class="fields">
                        <div>Id</div>
                        <div>Vehículo</div>
                        <div>Departamento</div> 
                        <div>Gerente</div>
                        <div>Problema</div>
                        <div>Solución</div>
                        <div>Monto ($)</div>
                        <div>Observaciones</div>
                    </div>
                {% endif %}
            {% for project in projects %}
            <form id="form-edit-{{ project.id }}" action='/project/update' method="POST">
                <div class="values">
                    
                    {% if user.role == "admin" %}
                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="text" name="id"
                                value="{{ project.id }}" 
                                form="form-edit-{{ project.id }}" readonly/>
                        </div>

                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="text" name="description"
                                value="{{ project.description }}" 
                                form="form-edit-{{ project.id }}" />
                        </div>

                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="date" name="open_date" 
                                value="{{ project.open_date }}"
                                form="form-edit-{{ project.id }}" />
                        </div>

                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="date" name="close_date" 
                                value="{{ project.close_date }}"
                                form="form-edit-{{ project.id }}" />
                        </div>

                    {% else %}
                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="text" name="id"
                                value="{{ project.id }}" 
                                form="form-edit-{{ project.id }}" readonly/>
                        </div>

                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="text" name="vehicle"
                                value="{{ project.vehicle.plate }}" 
                                form="form-edit-{{ project.vehicle }}" />
                        </div>

                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="text" name="department"
                                value="{{ project.department.name }}" 
                                form="form-edit-{{ project.department }}" />
                        </div>

                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="text" name="manager"
                                value="{{ user.username }}" 
                                form="form-edit-{{ project.department }}" />
                        </div>

                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="text" name="problem"
                                value="{{ project.problem }}" 
                                form="form-edit-{{ project.problem }}" />
                        </div>

                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="text" name="solution"
                                value="{{ project.solution }}" 
                                form="form-edit-{{ project.solution }}" />
                        </div>

                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="text" name="amount"
                                value="{{ project.amount }}" 
                                form="form-edit-{{ project.amount }}" />
                        </div>

                        <div {% if not project.enabled %} class="disabled" {% endif %}>
                            <input type="text" name="observation"
                                value="{{ project.observation }}" 
                                form="form-edit-{{ project.observation }}" />
                        </div>

                    {% endif %}

                    <div class="callbacks">
                        <button id="edit-for-{{project.id}}" class="warn" form="form-edit-{{ project.id }}">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
    
                        <button id="delete-for-{{project.id}}" class="danger" form="form-delete-{{ project.id }}">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
    
                        {% if project.enabled %}
                            <button id="toggle-for-{{project.id}}" class="normal" form="form-toggle-{{ project.id }}">
                                <i class="fa-solid fa-ban"></i>
                            </button>
                            {% else %}
                            <button id="toggle-for-{{project.id}}" class="warn" form="form-toggle-{{ project.id }}">
                                <i class="fa-solid fa-play"></i>
                            </button>
                        {% endif %}
                    </div>
                    
                </div>
            
            </form>
            <form class="hidden" id="form-delete-{{ project.id }}" 
				action='/project/delete' method="POST">
                <input type="text" name="id" value="{{ project.id }}"/>
            </form>
			<form class="hidden" id="form-toggle-{{ project.id }}" 
				action='/project/toggle' method="POST">
                <input type="text" name="id" value="{{ project.id }}"/>
            </form>

            {% else %}
            <div class="warning">
                <div><i class="fa-solid fa-warning fa-2xl"></i></div>
                <div>No hay proyectos</div>
                <div>
                    <form id="form-retry" action='/project' method="GET">
                        <button class="normal" id="retry" form="form-retry">
                            Volver
                        </button>
                    </form>
                </div>
            </div>
            
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}