{% extends 'layout.html' %}

{% block navbar %}
    <a class="link" href="/">Home</a>
{% endblock %}

{% block body %}
<div class="box centered">
    <div class="card">
        <h1>Usuarios</h1>

        <div class="card-content users">
            <div class="command">
                <div class="actuator">
                    <form id="form-search" action='/user/search' method="GET">
                        <input type="text" name="phrase" form="form-search"
                            placeholder="..." />
                        <button class="normal" id="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
            
                    <form id="form-register" action='/user/register' method="GET">
                        <button class="safe" id="register" form="form-register">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </form>
                </div>
            </div>

            {% if error %}
            <div class="warning">
                <div><i class="fa-solid fa-warning fa-2xl"></i></div>
                <div>{{ error }}</div>
                <div>
                    <form id="form-retry" action='/user' method="GET">
                        <button class="normal" id="retry" form="form-retry">
                            Volver
                        </button>
                    </form>
                </div>
            </div>
            {% elif not users  %}
                <div class="warning">
                    <div><i class="fa-solid fa-warning fa-2xl"></i></div>
                    <div>No hay usuarios</div>
                    <div>
                        <form id="form-retry" action='/user' method="GET">
                            <button class="normal" id="retry" form="form-retry">
                                Volver
                            </button>
                        </form>
                    </div>
                </div>
            {% else %}

            <div class="fields">
                <div>Id</div>
                <div>Usuario</div>
                <div>Nombre</div> 
                <div>Apellido</div>
                <div>Rol</div>
                <div>Proyecto</div>
            </div>

            {% for user in users %}
            <form id="form-edit-{{ user.id }}" action='/user/update' method="POST">
                <div class="values">
                    
                    <div><input type="text" name="id"
                        value="{{ user.id }}" 
                        form="form-edit-{{ user.id }}" readonly/>
                    </div>

                    <div><input type="text" name="username"
                        value="{{ user.username }}" 
                        form="form-edit-{{ user.id }}" readonly />
                    </div>

                    <div><input type="text" name="name" 
                        value="{{ user.name }}"
                        form="form-edit-{{ user.id }}" />
                    </div>

                    <div><input type="text" name="lastname" 
                        value="{{ user.lastname }}"
                        form="form-edit-{{ user.id }}" />
                    </div>

                    <select name="role" 
                        id="role-for-{{user.id}}" form="form-edit-{{ user.id }}">
                    {% for role in roles %}
                        {% if role == user.role %}
                            <option selected value="{{role}}">{{role}}</option>
                        {% else %}
                            <option value="{{role}}">{{role}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <select name="project" 
                        id="project-for-{{user.id}}" form="form-edit-{{ user.id }}">
                    {% for project in projects %}
                        {% if project == user.project %}
                            <option selected value="{{project}}">{{project}}</option>
                        {% else %}
                            <option value="{{project}}">{{project}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <div class="callbacks">
                        <button class="warn" id="edit-for-{{user.id}}" form="form-edit-{{ user.id }}">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
    
                        <button class="danger" id="delete-for-{{user.id}}" form="form-delete-{{ user.id }}">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
            
            </form>
            <form class="hidden" id="form-delete-{{ user.id }}" action='/user/delete' method="POST">
                <input type="text" name="id" value="{{ user.id }}"/>
            </form>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}