{% extends 'layout.html' %} 

{% block navbar %}
    <a class="link" href="/">Home</a>
{% endblock %}

{% block body %}

<div class="box centered">
    <div class="card">
        <h1>Inicio de sesión</h1>
        <form id="user_login" action="" method = "POST">
            <div class="card-content centered base">
                <div>
                    <div> Usuario 
                        <br/><input type="text" name="username"
                        placeholder="..." required />
                    </div>
                    <div> Contraseña
                        <input type="password" name="password"
                        placeholder="..." required />
                    </div>

                    {% if error %}
                        <h4>{{error}}</h4>
                    {% endif %}

                    <a href="/user/reset">Cambio de contraseña</a>

                    <div class="actions centered">
                        <button type="submit">Enviar</button>
                        <button type="reset">Limpiar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}