{% extends 'layout.html' %} 

{% block navbar %}
    <a class="link" href="/">Home</a>
{% endblock %}

{% block body %}

<div class="box centered">
    <div class="card">
        <h1>Reinicio de Contraseña</h1>
        <form id="user_login" action="/user/reset" method = "POST">
            <div class="card-content centered base">
                <div>
                    <div> Usuario 
                        <br/><input type="text" name="username"
                            placeholder="..." required />
                    </div>
                    <div> Contraseña Previa 
                        <br/><input type="password" name="password_prev" 
                            placeholder="..." required/>
                    </div>
                    <div> Nueva Contraseña 
                        <br/><input type="password" name="password_next" 
                            placeholder="..." required />
                    </div>

                    {% if error %}
                        <h4>{{error}}</h4>
                    {% endif %}

                    <div class="actions centered">
                        <button class="safe" type="submit" id="submit">Enviar</button>
                        <button class="normal" type="reset">Limpiar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}