{% extends 'layout.html' %} 

{% block navbar %}
    <a class="link" href="/">Home</a>
{% endblock %}

{% block body %}

<div class="box centered">
    <div class="card">
        <h1>Reinicio de Contraseña</h1>
        <form id="user_login" action="/user/reset" method = "POST">
            <div class="card-content centered">
                <div>
                    <p> Usuario: <input type="text" name="username" /> </p>
                    <p> Contraseña Previa: <input type="password" name="password_prev" /> </p>
                    <p> Nueva Contraseña: <input type="password" name="password_next" /> </p>

                    {% if error %}
                        <h4>{{error}}</h4>
                    {% endif %}

                    <div class="actions centered">
                        <button type="submit">Send</button>
                        <button type="reset">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}