{% extends 'layout.html' %} 

{% block navbar %}
    <a class="link" href="/">Home</a>
{% endblock %}

{% block body %}
<div class="box centered">
    <div class="card">
        <h1>Registro de usuario</h1>
        <form id="user_login" action="" method = "POST">
            <div class="card-content centered base">
                <div>
                    <div>Usuario <br/>
                        <input type="text" name="username" 
                            placeholder="..." required />
                    </div>
                    <div>Contraseña <br/>
                        <input type="password" name="password"
                            placeholder="..." required />
                    </div>
                    <div>Nombre <br/>
                        <input type="text" name="name"
                            placeholder="..." required />
                    </div>
                    <div>Apellido <br/>
                        <input type="text" name="lastname" 
                            placeholder="..." required />
                    </div>

                    <div>
                        <label for="role">Rol</label><br/>
                        <select name="role" id="role" required>
                        {% for role in roles %}
                            <option>{{role}}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label for="project">Proyecto</label><br/>
                        <select name="project" id="project" required>
                        {% for project in projects %}
                            <option>{{project.description}}</option>
                        {% endfor %}
                        </select>
                    </div>

                    {% if error %}
                        <h4>{{error}}</h4>
                    {% endif %}

                    <div class="actions centered">
                        <button type="submit">Enviar</button>
                        <button type="reset">Limpiar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}